

<div class="right-collapse">
    <div class="collapse-in">
      <span class="material-symbols-outlined">
        close
        </span>
      <div class="collastext" >Notice Board</div>
    </div>
  </div>




<div class="left-three-buttons">
    <button class="menus-circle"><i class="fa-solid fa-question"></i></button>
     <button class="menus-circle"> <img class="discussion" src="../../../assets/discussion.svg" alt="img"></button>
     <button class="menus-circle"><img class="calender" src="https://sdlms.deepthought.education/assets/uploads/files/files/toc-icon.svg" alt=""></button>
</div>
    