<header class="navbar">
  <div class="loguflex">
    <img src="https://deepthought.education/assets/images/logo/logo.svg" class="logu" alt="logo">
  </div>
    <div class="nav-icons">
      <div class="circle-log"><i class="fas fa-home component-1-icon bg-blue"></i></div>
      <div class="circle-log"><i class="fa fa-binoculars bg-blue" aria-hidden="true"></i></div>
      <div class="circle-log"><i class="fas fa-tools component-1-icon bg-blue"></i></div>
      <div class="circle-log"><i class="fa fa-bell component-1-icon bg-blue"></i></div>
      <img src="../../../assets/user.jpg" class="img-icon" alt="">
      <div class="menu-three"><i class="fas fa-ellipsis-v ellipsis"></i></div>
    </div>
</header>