.blue_button{
    position: fixed;
    right: 193px;
    top: 90px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: none;
    width: 88px;
    height: 32px;
    z-index: 2;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 10px;
}